.contenedorLogin {
    margin-top: 3.5rem;
}

.formEspacios {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.formEspacioUno {
    margin-top: 3rem;
}

.formEspacioDos {
    margin-bottom: 3rem;
}

.card-header {
    padding-top: 1.4rem;
}

#imgRegistro{
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}