.contenedorLogin {
    margin-top: 7rem;
}

.formEspacios {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.formEspacioUno {
    margin-top: 3rem;
}

.formEspacioDos {
    margin-bottom: 3rem;
}

.card-header {
    padding-top: 1.4rem;
}